.mailHead{
    margin-left: 15%;
    font-size: 325%;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.resForm{
    background-color: rgb(255,255,255,0.65);
    padding: 4%;
    border-radius: 20px;
    
}

