.ictLogo{
    /* max-height: 100%; */
    max-width: 100%;
}

#ictTextLogo-up{
    font-family: 'Open Sans Condensed', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 900;
    font-size: 1.5em;
    color: black;
}
#ictTextLogo-low{
    font-family: 'Open Sans Condensed', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 900;
    font-size: 1.5px;
    color: #0198cc;
}

.footDivHead{
    font-family: 'Open Sans Condensed', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 130%;
}
.footDiv{
    font-family: 'Open Sans Condensed', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 100%;
}
